/*--GENERAL---*/



#app {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #009688 13%, #DCDBD3 13%);
    padding: 30px 0;
}

img {
    height: 100%;
    width: 100%;
}
i {
    color: #B1B1B1;
    margin: auto 10px;
}

/*----MAIN----*/

#contacts{
    width: 40%;
    overflow-y: auto;

}
nav img{
    width:90px;
    padding: 15px;
}
nav {
    height: 75px;
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
}

#notifiche {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
    width: 10%;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 50%;
}

#notifiche i {
    color: rgb(142, 218, 252);
}
.grey{
    color: #5C788B;
}

#rightside{
    width: 60%;
    
}
.chat{
    height: calc(100% - 140px);
    overflow-y: auto;
    padding: 20px;
}
.toolbar{
    height: 70px;
    background-color: lightgrey;
}
 .notification{
    height: 70px;
    background-color: lightblue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
 }
 .search{
    height: 50px;
 }
 .listcontact{
    height: calc(100% - 190px);

 }
.avatar img{
    width: 40px;
}
 .avatar{
    padding: 10px;
    border-bottom: 1px solid grey;
 }
.active{
    background-color: #E9EBEB;
}